/* @group general */

a:hover {
	background-color: #726371;
	color: #85c7dd;
}

body {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #646371;
}


/* @end */

#top_bar {
	float: right;
	margin-right: 20px;
}

#triggers {
	margin: 20px 50px;
	direction: ltr;
	padding: 10px;
}

li.trigger_item {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#add_more_triggers {
}

.inline_editable {
	cursor: pointer;
	white-space: normal;
}

.trigger {
	height: 100%;
	text-align: justify;
	padding-left: 20px;
}

span.value {
	position: absolute;
	left: 50%;
	padding-bottom: 10px;
	padding-right: 10px;
	width: 44%;
}

span.key {
	left: 20%;
	position: absolute;
}

.value {
	padding-left: 50px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.key {
	padding-left: 50px;
	padding-bottom: 10px;
	padding-top: 10px;
}

table.trigger_list {
	background-color: rgba(0,242,145,0.21);
	width: 100%;
}

a#delete_icon {
	color: #ff0014;
	padding: 5px;
}

#preferences_form {
	position: absolute;
	left: 25%;
}

div#plan_form {
	margin-top: 20px;
}

a.small_link {
	font-size: 12px;
	margin-right: 5px;
	margin-left: 5px;
}

input[type="text"], input[type="password"] {
	font-size: 100%;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

form#signup {
	position: absolute;
	left: 25%;
	padding: 50px;
}

table#basic_info {
}

#search_triggers {
	float: right;
	padding-right: 10px;
}

span.key_value_separator {
	left: 40%;
	position: absolute;
}

div#phone {
	padding: 10px;
}

#logo {
	font-size: 50px;
	font-weight: bold;
	border-bottom: 1px solid #00bfff;
	background: #85c8df url(/images/patt_48b821ef52164.jpg) repeat;
}

#logo a {
	color: #e71f73;
	text-decoration: none;
}

#logo a:hover {
	background-color: #85c7dd;
}

#logo #logo_text {
	background-color: #85c7dd;
	padding: 10px;
	width: 315px;
}

div#login {
	float: left;
	left: 40%;
	position: absolute;
	padding: 10px;
}

div#notice {
	font-size: 15px;
	color: #00e274;
	padding: 5px;
}

div#error {
	font-size: 15px;
	color: #00e274;
	padding: 5px;
}


#triggers_head {
	background-color: #88c6db;
	display: block;
	width: 100%;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

span#your_triggers {
	font-size: 20px;
	font-weight: bold;
	color: #e71f73;
	padding-left: 10px;
}

#more_buttons {
	padding-left: 20px;
}

.more_button {
	margin: 15px 5px 5px;
}

div#secret_message {
	padding-left: 25%;
	padding-top: 20px;
}

form#secret {
	padding-bottom: 20px;
}

.in_place_editor_field {
	cursor: pointer;
}