<p>Click the link below to add a trigger.</p>
<br />
<br />
<p>Once you have a trigger set up, text 8814 with the message "fetchme" followed by the trigger name. Once the message is sent you will receive a text with the associated information. Try it!</p>
