<div id="triggers">
	<div id="triggers_head">
		<span id="your_triggers"> Your Triggers </span>
		<span id="search_triggers">
	
			<!--form action="search_trigger">
				<input type="text"></input>
			</form-->
		</span>
	</div>
	<div id="trigger_list">
	  <% if @triggers.empty? -%>
	  <%= render :partial => 'help' %>
	  <% else -%>
	  <%= render :partial => 'trigger_list' %>
	  <% end -%>
	</div>
</div>
